{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <meta name="author" content="Vinicious"/>
        <title>CONTACT US</title>
        <!--fontawesome-->
        <link rel="stylesheet" href="{% static 'fontawesome-free-6.2.0-web\css\all.min.css'%}"/>
        <!--stylesheet-->
        <link rel="stylesheet" href="{% static 'contact.css' %}"/>
    </head>
    <body>
        {%include 'design/navbar.html'%}
        <div class="container">
            {%if messages%}
                {%for message in messages%}
                    {{message}}
                {%endfor%}
            {%endif%}
            {%block content%}

            {%endblock%}
        </div>
        <br><br>
        {%include 'design/footer.html'%}
        <script src="{% static 'contact.js'%}"></script>
    </body>
</html>